.container {

}

.header {
    width: calc(100% - 275px);
    padding: 0 1rem;
    margin: 0rem auto 2rem;
    margin-left: 275px;
}
.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
.contentwrapper {
width: calc(100% - 275px);
margin-left: 275px;
}
.content {
    margin-left: 10%;
    width: 50%;
    padding: 10px;
}

